---
name: Docker build 15.0

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - Dockerfile
      - build_sbo-maintainer-tools.sh

concurrency:
  group: docker-15.0-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: false

env:
  REGISTRY_IMAGE: aclemons/sbo-maintainer-tools
  # renovate: datasource=docker depName=tonistiigi/binfmt versioning=loose
  BINFMT_IMAGE: qemu-v9.2.0@sha256:ea2f0dd74e74f101df59f9a6b31d0960994060c7982a921cbceecee0f1841125

jobs:
  docker:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: Configure sbo-maintainer-tools version
        run: |
          grep ^SBO_MAINTAINER_TOOLS_VERSION build_sbo-maintainer-tools.sh  | sed 's/"//g' >> "$GITHUB_ENV"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          image: tonistiigi/binfmt:${{ env.BINFMT_IMAGE }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: |
            ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ env.SBO_MAINTAINER_TOOLS_VERSION }}
            type=raw,value=latest-15.0
            type=raw,value=${{ env.SBO_MAINTAINER_TOOLS_VERSION }}-15.0

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          pull: true
          push: true
          platforms: linux/386,linux/amd64,linux/arm/v7
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: .
          file: Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
