---
name: Pull request checks
on: [pull_request]

concurrency:
  group: pr-check-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  update-dep:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - name: Check out Git repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.head_ref }}
          show-progress: false

      - name: Update the version of sbo-maintainer-tools packaged.
        run: |
          CWD="$(pwd)"

          SBO_TAG="$(grep ^SBO_RELEASE_VERSION build_sbo-maintainer-tools.sh | cut -d= -f2 | sed 's/"//g')"
          wget -O - "https://github.com/SlackBuildsOrg/slackbuilds/tarball/$SBO_TAG" | tar xz
          (
            cd SlackBuildsOrg-slackbuilds-*/system/sbo-maintainer-tools
            . sbo-maintainer-tools.info

            sed -i "s/^SBO_MAINTAINER_TOOLS_VERSION=.*$/SBO_MAINTAINER_TOOLS_VERSION=\"$VERSION\"/" "$CWD/build_sbo-maintainer-tools.sh"
            sed -i "s/MD5SUM=.*$/MD5SUM=\"$MD5SUM\"/" "$CWD/build_sbo-maintainer-tools.sh"
          )

          rm -rf SlackBuildsOrg-slackbuilds-*

      - name: Push back updated version and md5sum.
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: Update sbo-maintainer-tools version.
